.get-insurance {
    padding: 130px 0;
    display: flex;
    justify-content: center;

    .container {
        margin: 0 50px;
        padding: 0 12px;

        .insurance_row {
            margin: 0 -15px;
            display: flex;
            justify-content: center;
            align-items: center;

            .item1 {
                padding: 0 15px;
                .title_section {
                    margin-bottom: 50px;

                    .title {
                        font-size: 50px;
                        font-weight: 600;
                        letter-spacing: -0.01em;
                        line-height: 1.1;
                        font-family: var(--tp-ff-heading);
                        color: var(--tp-common-black);
                        margin-bottom: 8px;
                        text-transform: capitalize;

                        span {
                            color: var(--tp-theme-1);
                        }
                    }
                }

                .insurance_tab_section {
                    .tabs {
                        .items {
                            margin-right: 100px;

                            ul {
                                padding: 0;
                                li {
                                    padding: 30px;
                                    border: 1px solid var(--tp-border-1);
                                    border-radius: 15px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    cursor: pointer;
                                    margin-bottom: 15px;
                                    color: #959aa5;
                                    transition: 0.2s ease;

                                    .item {
                                        display: flex;
                                        align-items: center;

                                        i {
                                            font-size: 30px;
                                            margin-right: 35px;
                                            transition: 0.2s ease-in-out;
                                        }

                                        span {
                                            font-size: 22px;
                                            font-weight: 500;
                                            line-height: 1;
                                            transition: 0.2s ease-in-out;
                                        }
                                    }

                                    i {
                                        font-size: 22px;
                                        font-weight: 400;
                                        transition: 0.2s ease-in-out;
                                    }

                                    &:hover {
                                        color: var(--tp-theme-1);
                                    }

                                    &.active {
                                        color: var(--tp-theme-1);
                                        box-shadow: 0px 36px 41px rgba(122, 122, 122, 0.22);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .item2 {
                padding: 0 15px;
                .form_section {
                    margin-bottom: 50px;

                    .tabs_form {
                        margin-left: 10px;
                        padding-left: 80px;
                        border-left: 1px solid var(--tp-border-1);

                        .title_section {
                            .title {
                                font-size: 30px;
                                font-weight: 600;
                                color: var(--tp-common-black);
                                padding-bottom: 20px;
                            }
                        }

                        .success-message {
                            position: static;
                            padding: 10px;
                            border-radius: 8px;
                            width: 100%;
                            margin: 0 auto;
                            text-align: center;
                            font-size: 14px;
                            color: var(--tp-common-black);
                            visibility: hidden;
                            opacity: 0;
                            margin: 19px 0;
                            transition: opacity 0.3s ease-in-out;

                            &.show {
                                visibility: visible;
                                opacity: 1;
                            }

                            &.warning {
                                background-color: #0dcaf0;
                                color: var(--tp-common-white);
                            }

                            &.success {
                                background-color: #198754;
                                color: var(--tp-common-white);
                            }

                            &.error {
                                background-color: #dc3545;
                                color: var(--tp-common-white);
                            }
                        }

                        .contact_form {
                            form {
                                .form_input {
                                    input {
                                        width: 100%;
                                        border-radius: 10px;
                                        border: 1px solid var(--tp-border-1);
                                        padding: 25px 20px;
                                        background-color: #f0f0f0;
                                        margin-bottom: 10px;
                                        font-size: 15px;
                                        font-weight: 400;
                                        text-transform: capitalize;
                                        color: var(--tp-common-black);
                                        outline: none;
                                    }
                                }
                                .form_select {
                                    select {
                                        width: 100%;
                                        height: 65px;
                                        border-radius: 10px;
                                        border: 1px solid var(--tp-border-1);
                                        padding: 20px 20px;
                                        background-color: #f0f0f0;
                                        margin-bottom: 10px;
                                        font-size: 15px;
                                        font-weight: 400;
                                        text-transform: capitalize;
                                        outline: none;
                                        color: #747474;

                                        option {
                                            color: #747474;
                                        }
                                    }
                                }
                                .form_textarea {
                                    textarea {
                                        width: 100%;
                                        height: 165px;
                                        border-radius: 10px;
                                        border: 1px solid var(--tp-border-1);
                                        padding: 25px 20px;
                                        background-color: #f0f0f0;
                                        margin-bottom: 10px;
                                        font-size: 15px;
                                        font-weight: 400;
                                        text-transform: capitalize;
                                        outline: none;
                                        color: #747474;

                                        &::placeholder {
                                            color: #747474;
                                        }
                                    }
                                }

                                .form_button {
                                    button {
                                        width: 100%;
                                        display: inline-block;
                                        height: 65px;
                                        font-size: 15px;
                                        font-weight: 700;
                                        color: var(--tp-common-white);
                                        background-color: var(--tp-theme-2);
                                        padding: 0 50px;
                                        overflow: hidden;
                                        border-radius: 10px;
                                        text-transform: uppercase;
                                        border: none;
                                        outline: none;
                                        transition: 0.3s ease-in-out;

                                        &:hover {
                                            background-color: var(--tp-theme-1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .get-insurance {
        .container {
            margin: 0;

            .insurance_row {
                .item1 {
                    .title_section {
                        .title {
                            font-size: 30px;
                        }
                    }

                    .insurance_tab_section {
                        .tabs {
                            .items {
                                margin-right: 0;

                                ul {
                                    li {
                                        .item {
                                            i {
                                                font-size: 25px;
                                                margin-right: 15px;
                                            }

                                            span {
                                                font-size: 20px;
                                            }
                                        }

                                        i {
                                            font-size: 17px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .item2 {
                    .form_section {
                        margin: 50px 0px;
                        .tabs_form {
                            margin-left: 0;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}
